.ModalSelectedWatch {
    position: absolute;
    z-index: 500;
    background-color: #44E19F;
    width: 400px;
    border: none;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    text-align: center;
}

.product .ModalSelectedWatch p {
    color: #fff;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}


.btnClose {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #fff;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}