.TooltiptextContainer {
	position: relative;
    display: block;
}

.Tooltiptext {
	visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: left;
    border-radius: 8px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0%;
    opacity: 0;
    font-size: 16px;
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.TooltiptextContainer .Tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent ;
}

.TooltiptextContainer .visible {
	visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
